language: php

php:
  - 7.2
  - 7.3
  - 7.4

branches:
  only:
    - master

matrix:
  include:
    - php: 7.4
      env: SYMFONY_VERSION='4.4.*'
    - php: 7.4
      env: SYMFONY_VERSION='5.0'
    - php: 7.4
      env: SYMFONY_VERSION='5.1'
  fast_finish: true
  allow_failures:
    - php: nightly

before_script:
  - composer self-update
  - sh -c 'if [ "$SYMFONY_VERSION" != "" ]; then composer require --dev --no-update symfony/symfony=$SYMFONY_VERSION; fi;'
  - composer update --prefer-source

script: vendor/bin/phpunit
